html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background-color: #010101;
}

.buttonCenter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.buttonCenter p {
	margin: 0;
	color: white;
	font-size: 6vh;
}

.buttonCenter div {
	display: absolute;
}

.buttonCenter div button {
	font-size: 20px;
	color: white;
	background-color: #ac00e6;
	border: 2.5px solid white;
	width: 200px;
	height: 50px;
	border-radius: 10px;
	display: absolute;
	margin-top: 3vh;
}

.buttonCenter div button:hover {
	background-color: white;
	border-color: #ac00e6;
	color: #ac00e6;
}

.buttonCenter div button:active {
	background-color: #b2b2b2;
}

.buttonCenter div button:focus {
	outline: 0;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	display: none;
}

.overlayCenter {
	background-color: rgb(1, 1, 1, 0.86);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.overlayCenter p {
	color: white;
	font-size: 25px;
}

.transiction {
	-webkit-transition: left 0.5s ease-out; /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: left 0.5s ease-out; /* Firefox 4-15 */
	-o-transition: left 0.5s ease-out; /* Opera 10.50–12.00 */
	transition: left 0.5s ease-out; /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.open {
	left: 1500px;
}
